<!DOCTYPE html>
<html>
    <head>
        <title>Major Information</title>
    </head>
    <body>
        <form action="/faculty/course" method="POST" id="major">
        <div>Enter Faculty Name:
            <select onchange="submitForm()" name="FacultyName">
                {% if chosenName is not defined %}
                <option></option>
                {% endif %}
                {% if chosenName is defined %}
                <option value="{{chosenName}}">{{chosenName}}</option>
                {% endif %}
                {% for row1 in rows1 %}
                    <option value="{{row1['Faculty']}}">{{row1['Faculty']}}</option>
                {% endfor %}
            </select>
        </div>
        </form>
        {% if rows2 is defined %}
        <form action="/faculty/course/module" method="POST" id="module">
            <div>Enter Major Name:
                <select onchange="submitModule()" name="name">
                    <option></option>
                    {% for row2 in rows2 %}
                        <option value="{{row2['Name']}}">{{row2["Name"]}}</option>
                    {% endfor %}
                </select></div><br>
            <div><input type="submit" value="submit"></div>
        </form>
        {% endif %}
        <script>
            function submitForm(){
                var form = document.getElementById("major");
                form.submit();
            }
            function submitModule(){
                var form = document.getElementById("module");
                form.submit();
            }
        </script>
    </body>
</html>
